body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f1f1f;
  padding: 20px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px; /* logo ile yazı arasında boşluk */
}

.brand img {
  height: 40px; /* logonun boyutu */
}

.brand span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00bcd4;
}


nav a {
    margin: 0 10px;
    color: #00bcd4;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

footer {
    background: #191919;
    padding: 15px;
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
}

.button {
    background: #00bcd4;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.project-card{
    background: #1f1f1f;
    width: 300px; 
    margin: 20px 0;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    height: 200px;
}


#forum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    color: #fff;
    text-decoration: none;
}

#mainFrame{
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 500px;
}
#inMessage{
    background-color:#191919;
    border-radius: 10px;
    width: 400px; 
    height: 70px;
}
#inMessage>img{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
#messageBox{
    background-color: #191919;
    border-radius: 3px;
    width: 380px;
    height: auto;
    margin-left: 10px;
}
.outMessage{
    border-bottom: 2px #585858;
}
.outMessage>img{
    width: 20px;
    height: 20px;
    margin: 5px 5px 0px 5px;
}
#date{color:#585858; font-size: 10px;}
